
body
{
	padding: 0px;
	margin: 0px;
	background-color: #074458;
}

#header 
{
	margin: 10px;
	padding: 0px 0px 5px 0px;
	width: 100%;
	font-size: xx-large;
	color: white;
}

#header span
{
	font-family: Verdana, Arial;
	width: 100%;

	margin: 10px 4px;
	padding: 10px 4px;
}

#header a
{
	font-family: Verdana, Arial;
	text-decoration: none;

	color: #896B22;
	margin: 4px;
	padding: 4px;
}

#header a:hover
{
	background-color: #013B4A;
}

#header a:visited
{
	color: #893222;
}

#images p
{
	background-color: #255565;
	border: 1px grey solid;
	padding: 5px;
	margin: 5px;
	float : left;
}

#images img
{
	max-height: 200px;
}














